form {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
}

button {
    margin-top: 10px !important;
}

button:hover {
    background: blue !important;
    color: white;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.title {
    text-align: center;
    border: 2px solid blue;
    margin-bottom: 25px;
}

@media only screen and (max-width: 1400px) {
    form {
        width: 480px;
    }
}

@media only screen and (max-width: 1200px) {
    form {
        width: 440px;
    }
}

@media only screen and (max-width: 992px) {
    form {
        width: 400px;
    }
}

@media only screen and (max-width: 768px) {
    form {
        width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 280px;
    }
}

